<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="principal">
            <h1 class="titulo">BMI Calculadora</h1>        
            <div class="box">
                <div class="centrar">
                    <i class="fa-solid fa-mars sexo"></i> 
                    <label for="masculino">Masculino</label>                 
                </div>
                
            </div>
            <div class="box">
                <div class="centrar">
                    <i class="fa-solid fa-venus sexo"></i>
                    <label for="femenino">Femenino</label>
                </div>
            </div>
            <div class="box">
                <div class="centrar">
                    <label for="altura">Altura</label>
                    <div class="altura">
                        <div class="estilo-numero">{{altura}}</div>
                        <div> <span class="cm">cm</span></div>
                    </div>
                    <input type="range" [value]="altura" (input)="alturaPersona($event)" min="120" max="230">              
                </div>
            </div>
            <div class="box">
                <div class="centrar">
                    <label for="peso">Peso</label>
                    <div class="altura">
                        <div class="estilo-numero">{{peso}}</div>
                        <div> <span class="cm">Kg</span></div>
                    </div>
                    <div>
                        <button class="btn" (click)="sumarPeso()"><i class="fa-solid fa-plus"></i></button>
                        <button class="btn" (click)="restarPeso()" ><i class="fa-solid fa-minus"></i></button>
                    </div>  
                </div>
            </div>
            <div class="box">
                <div class="centrar">
                    <label for="edad">Edad</label>
                    <div class="altura">
                        <div class="estilo-numero">{{edad}}</div>
                        <div> <span class="cm">años</span></div>
                    </div>
                    <div>
                        <button class="btn" (click)="sumarEdad()"><i class="fa-solid fa-plus"></i></button>
                        <button class="btn" (click)="restarEdad()" ><i class="fa-solid fa-minus"></i></button>
                    </div>  
                </div>
            </div>
            <button class="button" (click)="calcularIndiceMasaCorporal()" >Calcular</button>
    </main> 
</body>
</html>

