<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="principal">
            <h1 class="titulo">Detalle</h1>             
            <div class="centrar">
                <label class="resultado" id="resultado">{{resultado}}</label>
                <p class="sexo">{{sexo}}</p>
                <p class="estiloNumero" id="imc">{{imc}}</p>
                <p class="inter">{{interpretacion}}</p>
            </div>
            <button class="button" routerLink="/inicio">Re-Calcular</button>
    </main> 
</body>
</html>


